.background{
    background-color: #AEC2A7;
    margin:30px;
}
.container{
    background-color: #f4f7f2;
    display:flex;
    flex-direction:column;
    height:100%;
    padding:40px;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    /* border: black 1px solid;  */
    /* padding:10px; */

}
.header-container img{
    height:30px;
}
.header-text{
    align-items: center;
    justify-content: center;
    font-weight:540;
    
}
.header-text span{
    padding:20px;
}

#sign-up{
    background-color:#163D3A ;
    color:#F4F7F2;
    border-radius: 10px;
    padding: 10px 15px;
    margin-left:10px;
    border: #163D3A 0px solid;
}
#log-in{
    background-color: #f4f7f2;
    color:#060606;
    border: #f4f7f2 0px solid;
    padding:10px 15px;
}

.intro-container{
    margin:10px;
    padding:50px
}
.intro-menu-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin:30px;

}
.intro-menu{
    /* background-color: #F6B76D; */
    padding:10px 30px;
    text-align: center;
    
    /* background-color: #AEC2A7; */
    
}
.intro-top-cts{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro-text{
    text-align: left;
    display:flex;
    flex-direction: column;
}
.intro-text h3{
    font-weight: 800;
    font-size: xx-large;
}

.menu-title{
    display:block;
    font-weight: 600;
    font-size: large;
}
.menu-comment{
    font-weight: 300;
    font-size: medium;
}
.line{
    background-color:#F6B76D ;
    width:5px;
    height:50px;
    
}
.ingredients-container{
    margin-top: 50px;
    /* background-color: #F4E3CB; */
    display:flex;
    flex-direction:column;
}
.ingredients-contents-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    
}
.ingredients-contents{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    /* width:20%; */
    padding: 20px 20px;
}
.subtitle{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    padding:20px 0px;
}
.little-textbtn{
    text-align: right;
    padding-right:40px;
}
.ingredients-bottom-cts{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    
    font-weight: 600;
}

.recipe-container{
    margin-top:20px;
    display:flex;
    flex-direction:column;
}
.recipie-contetns-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.recipie-contetns{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-around;
    /* width:20%; */
    padding: 20px 40px;
}
.recipie-contetns span{
    font-size: large;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}